# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/spring-cloud-eureka-zuul/.idea
/spring-cloud-eureka-zuul/.idea/workspace.xml
/spring-cloud-eureka-zuul/.idea/dictionaries
/spring-cloud-eureka-zuul/.idea/libraries
/spring-cloud-eureka-zuul/.idea/checkstyle-idea.xml
/spring-cloud-eureka-zuul/.idea/compiler.xml
/spring-cloud-eureka-zuul/.idea/encodings.xml
/spring-cloud-eureka-zuul/.idea/misc.xml
/spring-cloud-eureka-zuul/.idea/modules.xml
/spring-cloud-eureka-zuul/spring-cloud-biz/.mvn
/spring-cloud-eureka-zuul/spring-cloud-biz/.gitignore
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-biz/.mvn
/spring-cloud-eureka-zuul/spring-cloud-biz/spring-cloud-biz-service/mvnw
/spring-cloud-eureka-zuul/spring-cloud-biz/spring-cloud-biz-service/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-biz/spring-cloud-biz-service/.gitignore
/spring-cloud-eureka-zuul/spring-cloud-biz/spring-cloud-biz-service/.mvn/wrapper/maven-wrapper.properties
/spring-cloud-eureka-zuul/spring-cloud-biz/spring-cloud-biz-service/.mvn/wrapper/maven-wrapper.jar
.mvn
/spring-cloud-eureka-zuul/spring-cloud-eureka/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-eureka/mvnw
/spring-cloud-eureka-zuul/spring-cloud-zuul/.mvn
/spring-cloud-eureka-zuul/spring-cloud-zuul/mvnw
/spring-cloud-eureka-zuul/spring-cloud-zuul/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-zuul/.gitignore
/spring-cloud-eureka-zuul/spring-cloud-zuul/mvnw
/spring-cloud-eureka-zuul/spring-cloud-zuul/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-zuul/.gitignore
.mvn
/spring-cloud-eureka-zuul/.idea/checkstyle-idea.xml
/spring-cloud-eureka-zuul/.idea/compiler.xml
/spring-cloud-eureka-zuul/.idea/encodings.xml
/spring-cloud-eureka-zuul/.idea/misc.xml
/spring-cloud-eureka-zuul/.idea/dictionaries
/spring-cloud-eureka-zuul/.idea/libraries
/spring-cloud-eureka-zuul/.idea/workspace.xml
/spring-cloud-eureka-zuul/.idea/modules.xml
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw.cmd
/spring-cloud-eureka-zuul/spring-cloud-biz/.gitignore
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw
.mvn
/spring-cloud-eureka-zuul/spring-cloud-biz/.gitignore
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw
/spring-cloud-eureka-zuul/spring-cloud-biz/mvnw.cmd
.mvn
